* {
  margin: 0;
  padding: 0;
  font-family: Consolas;
}
body {
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.02);
}
.wrapper {
	margin: 0 auto;
	height: 70vh;
	width: 80vw;
	padding: 10px;
	position: relative;
	background: rgba(255, 255, 255, 1);
}
.wrapper input {
	width: 90%;
	padding: 7px;
	font-size: 20px;
	margin-left: 5px;
	margin-top: 30%;
	transform: translateY(-100%);
	background: #fff;
	box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2),
							0 0 2px 3px rgba(0, 0, 0, 0.1),
							0 0 2px 1px rgba(0, 0, 0, 0.1),
							inset 0 0 2px 3px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.wrapper button {
	background: #f14a60;
	outline: none;
	border: 0;
	height: 50px;
	width: 180px;
	color: #fff;
	font-size: 15px;
	margin-left: 5px;
	transition: 0.5s;
}
.wrapper button:hover {
	background: #e5102a;
}
.wrapper * {
	border-radius: 5px;
}
.wrapper h3 {
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
}
.fa-clone {
	display: block;
	position: absolute;
	right: 30px;
	top: 38%;
	transform: translateY(-50%);
	opacity: 0.5;
	transition: 0.5s;
}
.fa-clone:hover {
	opacity: 1;
}
#notify {
	max-height: 110px;
	width: 60vw;
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 10px;
	opacity: 0;
	background: red;
	border-radius: 5px;
	transition: 0.5s;
	padding: 10px;
	padding-top: 15px;
	color: #fff;
}
@font-face {
  font-family: Consolas;
  src: url(font/consolas.ttf);
  font-weight: normal;
  font-style: normal;
}